body {
    margin: 0;
    overflow: hidden;
    background: black;
    color: white;
    font-family: Arial;
}

#start-screen,
#end-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
}

.hidden {
    display: none !important;
}

button {
    background: #00d0ff;
    border: none;
    font-size: 1.4em;
    padding: 15px 35px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
}

.creditos {
    margin-top: 30px;
    opacity: 0.7;
}
