body { margin: 0; background-color: #111; overflow: hidden; }
/* Botón VR Grande y visible */
button#VRButton {
    background: #ffaa00 !important;
    color: #000 !important;
    border: 3px solid #fff !important;
    font-weight: 900 !important;
    font-size: 20px !important;
    padding: 15px 40px !important;
    bottom: 40px !important;
    border-radius: 10px !important;
}
