body { margin: 0; overflow: hidden; background-color: #000; }
#scene { width: 100%; height: 100%; display: block; }

/* Botón VR Estilizado */
button#VRButton {
    bottom: 30px !important;
    background: rgba(0, 0, 0, 0.8) !important;
    border: 2px solid #ff0055 !important; /* Rojo neón */
    color: #fff !important;
    border-radius: 4px !important;
    padding: 12px 30px !important;
    font-family: monospace !important;
    font-weight: bold !important;
    font-size: 16px !important;
    box-shadow: 0 0 20px #ff0055 !important;
    transition: all 0.3s ease;
}
button#VRButton:hover {
    background: #ff0055 !important;
    box-shadow: 0 0 40px #ff0055 !important;
}
