body { margin: 0; background-color: #000; overflow: hidden; }

/* Botón VR Grande y Fácil de pulsar en el navegador de Quest */
button#VRButton {
    background: rgba(0, 0, 0, 0.9) !important;
    border: 3px solid #00ffcc !important;
    color: #00ffcc !important;
    font-family: sans-serif !important;
    font-weight: 900 !important;
    font-size: 18px !important;
    border-radius: 8px !important;
    bottom: 50px !important;
    padding: 15px 40px !important;
    width: auto !important;
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.4) !important;
}
button#VRButton:hover {
    background: #00ffcc !important;
    color: #000 !important;
}
